@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

:root{
  --green-1: #49DE82;
  --green-2: #023114;
  --blue-1: #1DC0E3;
  --white-1: #ffffff;
  --white-2: rgba(255, 255, 255, 0.5);
  --black-1: #000000;
  --black-2: rgba(0, 0, 0, 0.5);

}

body {
  margin: 0;
  font-family: 'Rubik', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

html, body, #root{
  width: 100%;
  height: auto;
}
body{
  background: linear-gradient(180deg, #49DE82 0%, #1DC0E3 100%);
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}